rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /research-submissions/{submissionId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if true;
    }

    match /sponsorship-submissions/{submissionId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if true;
    }

    match /project-adoption-submissions/{submissionId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if true;
    }

    match /newsletter-subscriptions/{subscriptionId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow create: if true;
    }
  }
}
